<div>
  <%= link_to(deliveries_path, class: "mdc-button mdc-button--outlined") do %>
    <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
    Back to deliveries
  <% end %>

  <div class="routes-header">
    <h1 style="padding-right: 10px">Optimized Routes</h1>
    <div class="tooltip"
      aria-label="Information about optimized routes"
      data-tooltip="Showing routes grouped by pickup address.">
      <span class="material-symbols-outlined">info</span>
    </div>
  </div>

  <% if @optimized_routes.any? %>
    <% @optimized_routes.each do |pickup_address, deliveries| %>
      <div class="routes-container">
        <h2 class="text-heading"><%= pickup_address %></h2>
        <div class="deliveries-container">
          <%= render(partial: "route", locals: { deliveries: }) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render(partial: "layouts/blankslate", locals: {
      title: "No routes",
      body: "You do not have any scheduled deliveries."
    }) %>
  <% end %>
</div>
