<%# locals: (message:) -%>

<div class="chat-message <%= message["role"] %>">
  <span class="material-symbols-outlined" style="padding-right: 5px;"><%= message["role"] == "user" ? "person" : "smart_toy" %></span>
  <span><%= message["content"] %></span>
</div>
