<%= turbo_stream.replace("chat-window") do %>
  <turbo-frame id="chat-window">
    <div class="chat-window">
      <button class="mdc-button" data-action="click->chat#closeChat" aria-label="Close chat">
        <span class="mdc-button__ripple"></span>
        <i class="material-symbols-outlined mdc-button__icon">close</i>
      </button>
      <%= render(partial: "chats/message", locals: { message: "Ask me a question about the deliveries ...", role: "assistant" }) %>
      
      <div class="chat-messages" id="chat_messages">
        <!-- Chat messages -->
      </div>

      <div class="chat-form">
        <%= render(partial: "chats/form") %>
      </div>
    </div>
  <turbo-frame>
<% end %>

<%= turbo_stream.remove("chat-button-frame") %>
