body {
  font-family: "Roboto", sans-serif;
  margin: 14px;
}

.bold {
  font-weight: bold !important;
}

.filter-button {  
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  max-width: 200px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.text-body {
  color: black;
  font-size: 14px;
}

.text-heading {
  color: black;
  font-size: 20px;
}

.text-title {
  align-self: center;
  color: black;
  font-size: 16px;
}

.tooltip {
  color: var(--color-primary); 
  cursor: pointer;
  text-decoration: none;
}

.tooltip::after {
  content: attr(data-tooltip);
  font-size: 14px;
  font-weight: normal;
  left: 50%;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  visibility: hidden;
}

.tooltip:hover::after, .tooltip:focus::after {
  opacity: 1;
  visibility: visible;
}
