.blankslate {
  background-color: var(--color-bg-light);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.blankslate h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blankslate p {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
}
