
.chat-window {
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 40px;
  border-radius: 5px;
}

.chat-window button {
  align-self: flex-end;
  padding: 1px 10px 1px 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-bg-hover);
  align-self: start;
}

.chat-message.user {
  align-self: end;
  background-color: #87cefa !important;
}

.chat-message.error {
  background-color: #ffdcdc !important}

.chat-form {
  align-self: center;
}

.chat-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 20px;
}

.chat-form-label {
  min-width: 100%;
}

.chat-form-field {
  padding: 16px;
}

.chat-submit {
  padding-left: 10px;
}
