.routes-header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
}

.routes-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0px 8px 8px;
}

.deliveries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.delivery-container {
  border: 1px solid #ccc; 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8px;
  max-width: 350px;
  padding: 8px 8px 0px 8px;
}

.delivery-container, a:link {
  cursor: pointer;
  text-decoration: none !important;
}

.delivery-details {
  align-items: center;
  display: flex;
}

.delivery-details li {
  margin-bottom: 8px;
}
