.routes-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.routes-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0px 8px 8px ;
}

.deliveries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.delivery-container {
  border: 1px solid #ccc; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 8px 8px 0px 8px;
  margin: 8px;
  border-radius: 8px;
  max-width: 350px;
}

.delivery-container, a:link {
  text-decoration: none !important;
  cursor: pointer;
}

.delivery-details {
  display: flex;
  align-items: center;
}
.delivery-details li {
  margin-bottom: 8px;
}
