/* default pagy styling from docs */

.pagy {
  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--color-primary);
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}

.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: var(--color-bg-light);
  padding: 0.25rem 0.75rem;
  color: inherit;
}

.pagy a:not(.gap):hover {
  background-color: var(--color-bg-hover);
}

.pagy a:not(.gap):not([href]) { /* Disabled links */
  cursor: default;
  background-color: var(--color-bg-disabled);
  color: var(--color-text-disabled);
}

.pagy a:not(.gap).current {
  background-color: var(--color-bg-current);
  color: var(--color-text-current);
}

.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: var(--color-bg-light);
  padding: 0.125rem 0.75rem;
}
