.table-container {
  margin: 0 auto;
  width: auto;
}

.table-filter-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-bottom: 5px;
}

.mdc-data-table {
  table-layout: fixed;
}

.mdc-data-table__cell {
  padding: 8px;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  white-space: normal;
  word-wrap: break-word;
}

.mdc-data-table__pagination-info {
  float: right;
}

.mdc-data-table__pagination-trailing, .mdc-data-table__pagination-info {
  padding-right: 8px;
}

.mdc-pagination {
  padding-bottom: 8px;
}

.mdc-data-table__table {
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 1000px) {
  .table-container {
    width: fit-content;
  }

  .mdc-data-table {
    table-layout: auto;
    width: 100%;
  }

  .mdc-data-table__table {
    width: auto;
  }
}
