<div id="sideview" class="sideview" data-sideview-target="panel" data-action="mousedown->sideview#handleOutsideClick">  
  <button class="mdc-button" data-action="click->sideview#closeView" aria-label="Close view">
    <span class="mdc-button__ripple"></span>
    <i class="material-symbols-outlined mdc-button__icon">close</i>
  </button>
  
  <div id="sideview-content" data-sideview-target="content">
    <!-- Sideview content -->
  </div>
</div>
